body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #333;
    color: green
}

#board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
    justify-content: center;
    margin: 20px auto;
}

.cell {
    border: 2px solid darkgray;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s ease;
    color: green
}

.cell:hover {
    background-color: rgb(185, 183, 183);
}

.cell.cleared {
    background-color: lightblue;
    transition: background-color 0.3s ease;
}